#set ($caller = "viewcategorytree.vm")

<div>
#if ($category.Template.TList)
	#parse ("/general_templates/$category.Template.TList")
#else
    $l10n.TEMPLATE_LIST_UNAVAILABLE
#end

</div>

#if($session.isRoot) 
	<div style="float: left;">
		<a href="#" onmouseover="javascript:AlternateShowHide('templatename');" onmouseout="javascript:AlternateShowHide('templatename');">O</a>
	</div>
	<div id="templatename" style="float: left; display:none; border: 1px solid red;">
		Template: $category.Template.TList
	</div>
#end
