<xml>
	<site>
		<Config key="SITE_NAME" value="CastlePortal" description="CastlePortal" />
		<Config key="ALL_PRIVILEDGES" value="ControlTotal" />
		<Config key="SITE_ROOT" value = "http://localhost:8080/" />
		<Config key="LAYOUT" value= "layout_castleportal" description="Main Layout" />
		<Config key="LOGIN_LAYOUT" value= "login" /> 
		<Config key="ADMIN_GROUP" value= "Admins" />
		<Config key="ADMIN_GROUP_NAME" value= "Admins" />
		<Config key="FRONTPAGE" value= "Home" />
		<Config key="MEDIA_FOLDER" value= "portal" />
		<Config key="PRIVATE_FOLDER" value= "Private" />
		<Config key="EXTENSION" value = "aspx" />
		<Config key="footertext" value ="just a footer" />
		<Config key="leftdiv" value ="lateral" />
		<Config key="maindiv" value ="central" />
                <Config key="PERMISSION_READ" value = "PermissionRead" />
                <Config key="PERMISSION_CREATE" value = "PermissionCreate" />
                <Config key="PERMISSION_MODIFY" value = "PermissionModify" />
                <Config key="PERMISSION_DELETE" value = "PermissionDelete" />
                <Config key="PERMISSION_PUBLISH" value = "PermissionPublish" />
		<Config key="lugar" value="S/C de tenerife" description="Lugar" />
		<Config key="tfnofijo" value="922xxxxxx" description="Phone" />
		<Config key="tfnofax" value="922xxxxxx" description="Fax" />
		<Config key="email" value="info@shidix.com" description="Email" />
	</site>
</xml>
