$TemplateVarsTester.IsNotNull($category, "category", "displayCategoryTitlesTexts.vm", "$caller")
#set ($caller ="displayCategoryTitlesTexts.vm")
<H1>
  $ExtraHelper.CategoryDescription($category, $lang)
  #parse("$!templatesdir/actionsLinks/editCategory.vm")
</H1>
#foreach ($content in $contents)
   <H2><BR>
     $content.GetValueByFieldName("title")
   </H2>
   <P>
     $content.GetValueByFieldName("body")
     #parse("$!templatesdir/actionsLinks/editContent.vm")
     #parse("$!templatesdir/actionsLinks/copyContent.vm")

        #if ($content.Published)
            #parse("$!templatesdir/actionsLinks/unpublishContent.vm")
        #else
            #parse("$!templatesdir/actionsLinks/publishContent.vm")
        #end
     #parse("$!templatesdir/actionsLinks/deleteContent.vm")
   </P>
#end
#parse("$!templatesdir/actionsLinks/newContent.vm")

