$TemplateVarsTester.IsNotNull($category, "category", "showAllCategoryChildrenList.vm", "$caller")
<h1>$ExtraHelper.CategoryDescription($category, $lang)</h1>
#set($parent = $category)
<ul>
	#foreach ($category in $parent.Children)
		#if ($category.CanRead($!session.User))
			<li><a href="$category.ToUrl($siteRoot)">$ExtraHelper.CategoryDescription($category, $lang)</a></li>
		#end
	#end
</ul>

