<div id="contents">
	<h4>Creacion de un evento:</h4>
	##$AjaxHelper.BuildFormRemoteTag("$siteRoot/schedule/checkoverlap.$EXTENSION", $DictHelper.CreateDict( "update=tree", "with=Form.serialize(this)", "loading=javascript:waitPointer('schedule')", "complete=javascript:defaultPointer('schedule'); setGreaterHeight('$leftdiv', '$maindiv');") )
	<form action="$siteRoot/schedule/checkoverlap.$EXTENSION" name="newEvent">
		<input type="hidden" name="Id" value="$Context.Session.User.Id">
		<input type="hidden" name="Event.Id" value="$idevent">
		<input type="hidden" id="modifycheck" name="modifycheck" value="0">

   	#parse("schedule/eventform.vm")
	</form>
</div>

