$AjaxHelper.BuildFormRemoteTag("$siteRoot/forum/savemessage.$EXTENSION", $DictHelper.CreateDict( "update=$maindiv", "with=Form.serialize(this)", "loading=javascript:waitPointer('folder')", "complete=javascript:defaultPointer('folder'); setGreaterHeight('$leftdiv', '$maindiv');") )
##<form action="$siteRoot/forum/savemessage.$EXTENSION">
	<input type="hidden" value="$idFolderParent" name="idFolderParent" />
	<input type="hidden" value="$idMessageParent" name="idMessageParent" />
	#parse("forum/messageform.vm")
<div id"enviar">
	<input type="submit" value="$l10n.SEND"/><br>
</form>
</div>

