#if ($idMessage)
	$title<br>
	$body<br>

	$AjaxHelper.BuildFormRemoteTag("$siteRoot/forum/saveupdatedmessage.$EXTENSION", $DictHelper.CreateDict( "update=contenido", "with=Form.serialize(this)", "loading=javascript:waitPointer('folder')", "complete=javascript:defaultPointer('folder'); setGreaterHeight('$leftdiv', '$maindiv');") )
	##<form action="$siteRoot/forum/saveupdatedmessage.$EXTENSION">
      $HtmlHelper.InputHidden("message.Id", $!message.Id)
		<input type="text" name="text" />

		<input type="submit" value="$l10n.SEND" />
	</form>
#else
	$AjaxHelper.BuildFormRemoteTag("$siteRoot/forum/saveeditedmessage.$EXTENSION", $DictHelper.CreateDict( "update=contenido", "with=Form.serialize(this)", "loading=javascript:waitPointer('folder')", "complete=javascript:defaultPointer('folder'); setGreaterHeight('$leftdiv', '$maindiv');") )
##	<form action="$siteRoot/forum/saveeditedmessage.$EXTENSION">
		<input type="hidden" value="$message.Id" name="message.Id" />

      $HtmlHelper.InputHidden("message.Id", $!message.Id)

		#parse("/forum/messageform.vm")

		<input type="submit" value="$l10n.SEND" />
	</form>
#end

