#parse("layouts/macros.vm")

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	#parse("/layouts/layout_head.vm")

	#if ($context.Session.estilo == "onlytext")
		<body id="body" style="font-family: Arial, Helvetica, sans-serif;">
			#parse("/layouts/layout_accesible.vm")
		</body>
	#else
		<body id="body" onload="javascript:setGreaterHeight('$leftdiv', '$maindiv');">
			<div id="contenedor">
				#parse("/layouts/_subheader.vm")
	
				#parse("/layouts/layout_cabecera.vm")

				#parse("/layouts/layout_central.vm")

				#parse("/layouts/layout_footer.vm")
			</div>
		</body>
	#end
</html>

