#parse("layouts/macros.vm")

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<HTML>
	<HEAD>
		<META http-equiv="Content-Type" content="text/html; charset=utf-8" >
		<TITLE>$SITE_NAME</TITLE>

		<!-- tinyMCE -->
		<SCRIPT language="JavaScript" src="$siteRoot/Public/tinymce/jscripts/tiny_mce/tiny_mce.js" type="text/javascript"></SCRIPT>
		<SCRIPT language="javascript" type="text/javascript">tinyMCE.init({ mode : "textareas", theme : "advanced", language : "en" });</SCRIPT>
    

		<!-- scripts de castleportal -->
		<SCRIPT language="JavaScript" src="$siteRoot/Public/javascript/scripts.js" type="text/javascript"></SCRIPT>
		<SCRIPT language="JavaScript" src="$siteRoot/Public/javascript/utiles.js" type="text/javascript"></SCRIPT>
		<SCRIPT language="JavaScript" src="$siteRoot/Public/javascript/styleswitcher.js" type="text/javascript"></SCRIPT>
    
		<!-- scripts de castleproject -->
		$AjaxHelper.GetJavascriptFunctions()
		$Effects2Helper.GetJavascriptFunctions()
 
		<!-- calendario tigra -->
		<SCRIPT language="JavaScript" type="text/javascript" src="${siteRoot}/Public/tigra_calendar/calendar1.js"></SCRIPT>
		<SCRIPT language="JavaScript" type="text/javascript" src="${siteRoot}/Public/tigra_calendar/calendar2.js"></SCRIPT>
 
   
		<!-- stylesheets de los portales -->
		<LINK rel="stylesheet" href="$siteRoot/Public/style/common.css" type="text/css" title="normal">
		<LINK rel="stylesheet" href="$siteRoot/Public/style/castleportal.css" type="text/css" title="normal">
		<LINK rel="stylesheet" href="$siteRoot/Public/color/$color/castleportal.css" type="text/css" title="normal">
		<LINK rel="alternate stylesheet" type="text/css" href="$siteRoot/Public/style/accesible.css" title="accesible">
	</HEAD>

	<BODY id="body" onload="javascript:setGreaterHeight('$leftdiv', '$maindiv');">
		<FORM method="post" action="$siteRoot/portal/accesible.$EXTENSION" name="access">
			#if ($Session.Accesible == "1")
				<SCRIPT> setActiveStyleSheet('accesible'); </SCRIPT>
			#else
				<SCRIPT> setActiveStyleSheet('normal'); </SCRIPT>
			#end
			<INPUT type="hidden" name="accesible" id="accesible" value="0"/>
			<INPUT type="hidden" name="current" id="current" value="$context.Url"/>
		</FORM>

		<DIV id="contenedor">
			#parse("/layouts/_subheader.vm")
			<DIV id="header" style="background-image: url($siteRoot/Public/headers/$header/header${color}.jpg);">
			</DIV>

			<DIV id="menumain">
				$MenuHelper.BuildTree("main", $menu,  $category, 1, "$lang", "actual")
			</DIV>
			<DIV id="lateral">
				#parse("/layouts/language_selector.vm")
				<hr>
				<DIV id="search">
				<FORM method="get" action="$siteRoot/portal/search.$EXTENSION">
					$l10n.SEARCH:
					<INPUT name="key" type="text" class="buscar">
					<NOSCRIPT>
						<INPUT type="submit" value="buscar">
					</NOSCRIPT>
				</FORM>
			</DIV>
			<hr>
			<DIV id="menuleft">
				$MenuHelper.BuildTreeLeft("main", $menu,  $category, 999, "$lang", "submenu")
			</DIV>
        <hr><center>
            #if ($context.Session.User)
               <a href="$siteRoot/login/logout.$EXTENSION"><strong>[Logout]</strong></a> 
            #else
               <a href="$siteRoot/login/login.$EXTENSION"><strong>[Login]</strong></a> 
            #end
            </center>
      </DIV>
      
      <DIV id="central">
	<DIV id="centralSup">&nbsp;
	  #if ($Flash.ContainsKey("aviso")) $Flash.get_Item("aviso") <IMG src="$siteRoot/Public/images/tick.png"/> #end
	  #if ($Flash.ContainsKey("error")) $Flash.get_Item("error") <IMG src="$siteRoot/Public/images/publish_x.png"/> #end
	</DIV>
	#set($ancestors = false)
	#set($ancestors = $category.Ancestors(1))
	#if($ancestors.Count>0)
	<DIV id="ruta">
	  $l10n.PATHWAY 
	  #foreach($m in $ancestors)
	  &gt; <A href="$m.ToUrl($siteRoot)" class="ruta" >$m.Description</A> 
	  #end
	</DIV>
	<DIV id="accesibilidad">	
	  #if ($Session.Accesible == "1")
	  <A href="#" onclick="javascript: setActiveStyleSheet('normal'); changeValue('accesible', '0');document.access.submit(); return false;">Visualizar imagenes y colores </A> 
	  #else
	  <A href="#" onclick="javascript: setActiveStyleSheet('accesible'); changeValue('accesible', '1'); document.access.submit();return false;"><IMG style="border: 0px;" src="$siteRoot/Public/images/accesibilidad.gif" alt="accesibilidad"></A>
	  #end
	</DIV>
	#end
	<DIV id="contenido">$childContent</DIV>
      </DIV>
      
      <DIV id="inferior">
	#if (!$context.Session.User.Name)
	<DIV style="float:left; margin-left: 20px; margin-top: 2px; border: 0px;">
	  <A href="$siteRoot/login/portal.$EXTENSION" title="Iniciar sesion"><IMG style="border: 0px;" src="$siteRoot/Public/estilos/img/candado.gif"></A>
	</DIV>
	#end
##	<DIV style="float:right; margin-right: 12px; margin-top: 2px; border: 0px;">
##	  <A href="$siteRoot/portal/incidencia.$EXTENSION" title="Informar de un fallo o sugerencia"><IMG style="border: 0px;" src="$siteRoot/Public/images/exclam.gif" alt="incidencia"></A>
##	</DIV>
        <br>
	$footertext<BR>
      </DIV>
    </DIV>
  </BODY>
</HTML>
