<div id="central">
	<div id="centralSup">&nbsp;
	  #if ($Flash.ContainsKey("aviso")) $Flash.get_Item("aviso") <IMG src="$siteRoot/Public/images/tick.png"/> #end
	  #if ($Flash.ContainsKey("error")) $Flash.get_Item("error") <IMG src="$siteRoot/Public/images/publish_x.png"/> #end
	</div>

	#set($ancestors = false)
	#set($ancestors = $category.Ancestors(1))
	#if($ancestors.Count>0)
		<div id="ruta">
		  $l10n.PATHWAY 
		  #foreach($m in $ancestors)
			  &gt; <a href="$m.ToUrl($siteRoot)" class="ruta" >$ExtraHelper.CategoryDescription($m, $lang)</a> 
		  #end
		</div>
		<div id="accesibilidad">
			#if ($Session.estilo == "onlytext")
				<a href="$siteRoot/portal/setcss.$EXTENSION?estilo=normal&amp;id=$!category.Id">$l10n.IMAGES_AND_COLOR</a>
			#else
				<a href="$siteRoot/portal/setcss.$EXTENSION?estilo=onlytext&amp;id=$!category.Id">$l10n.TEXT_ONLY</a>
			#end
		</div>
	#end
	<div id="contenido">$childContent</div>
</div>

